@import "/src/styles/common";

.tag {
  @include metaBoldXs;
  display: inline-block;
  border-radius: 16px;
  color: $white;
  padding: 1px 8px 0;
  min-height: 18px;
}

// TagType:
.plain {
  color: $white;
}

.buying {
  border-color: var(--brown);
  padding-top: 0;
  background: $white;
  color: var(--brown) !important;
}

.selling {
  background-color: var(--brown);
}

.leasing {
  background-color: var(--darkOrange);
}

.primary {
  background-color: $grey900;
}

.outline {
  background-color: transparent;
  border: 1px solid $grey900;
  padding-top: 0;
  color: $grey900;
}

.premium {
  @include tagBoldXs;
  text-transform: uppercase;
  background-color: $grey900;
}

.premiumPlain {
  @include tagBoldXs;
  text-transform: uppercase;
  background-color: transparent;
  color: $grey900;
  padding: 0;
}

.primary {
  background-color: $grey900;
}

.outline {
  background-color: transparent;
  border: 1px solid $grey900;
  color: $grey900;
}
