@import "/src/styles/common";

.tag {
  @include tagBoldXs;
  display: inline-block;
  border-radius: 16px;
  font-size: 12px;
  line-height: 18px;
  color: $white;
  padding: 0 8px;
}

// TagType:
.plain {
  color: $white;
}

.buying {
  border-color: var(--brown);
  background: $white;
  color: var(--brown) !important;
}

.selling {
  background-color: var(--brown);
}

.leasing {
  background-color: var(--darkOrange);
}

.premium {
  background-color: $grey900;
  text-transform: uppercase;
}

.premiumPlain {
  background-color: transparent;
  color: $grey900;
  padding: 0;
  text-transform: uppercase;
}
