@import "/src/styles/common";

.tag {
  display: inline-block;
  border-radius: 16px;
  @extend %sansSerifBold;
  font-size: 12px;
  line-height: 18px;
  color: $white;
  padding: 0 8px;
}


// TagType:
.plain {
  color: $white;
}

.buying {
  border-color: var(--brown);
  background: $white;
  color: var(--brown) !important;
}

.selling {
  background-color: var(--brown);
}

.leasing {
  background-color: var(--darkOrange);
}