@import "/src/styles/common";

.teaserLink {
  color: $fontColor;
  background: $white;
  display: grid;
  grid-template-areas: "banner" "image" "author" "info";
}

.authorContainer {
  grid-area: author;
  z-index: 1;
}

.banner {
  grid-area: banner;
}

.rankNumber {
  grid-area: rankNumber;
  @include rankBoldMd;
  color: $forest100;
}

.articleImage {
  grid-area: image;

  img {
    width: 100%;
  }
}

.articleInfo {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px $spacingSm $spacingSm;

  @media (min-width: $smallDesktopLowerLimit) {
    gap: $spacingXs;
    padding: $spacingXs $spacingMd $spacingMd;
  }
}

.metadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  .date {
    @extend %metaSmallSemiBold;
    color: $gray3;
  }

  .tag {
    line-height: 1em;
  }
}

.subheading {
  @extend %sansSerifRegular;
  font-size: $fontSizeS;
  padding: 5px 0 10px 0;
}

.text {
  @include subheadingSemiboldSm;
  padding-top: 12px;
}

.hasBorder {
  border-bottom: 4px solid $brandColorLight;
}

.extraLarge,
.large {
  .authorContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: $spacingSm;

    @media (min-width: $smallDesktopLowerLimit) {
      padding: $spacingMd;
    }
  }

  &:not(.noImage) {
    .authorContainer {
      height: 72px;
      margin-top: -72px; // Show on top of the image
      background: rgba(27, 27, 27, 0.75);
      color: $white;

      @media (min-width: $smallDesktopLowerLimit) {
        height: 87px;
        margin-top: -87px; // Show on top of the image
      }
    }
  }

  &.noImage {
    .authorContainer {
      padding-bottom: 0;
    }
  }
}

.compact,
.relatedArticle,
.relatedAdArticle,
.small {
  .teaserLink {
    grid-template-areas:
      "banner image"
      "author image"
      "info image";
    grid-template-columns: 1fr $mobileTeaserHorizontalImageWidth;
    grid-template-rows: auto auto 1fr;
    padding: $spacingSm;
    column-gap: $spacingMd;

    @media (min-width: $smallDesktopLowerLimit) {
      padding: $spacingMd;
      grid-template-columns: 1fr $teaserHorizontalImageWidth;
    }
  }

  &.noImage {
    .teaserLink {
      grid-template-columns: 1fr;
    }
  }

  .articleInfo {
    padding: 0;
    gap: $spacing2xs;

    .heading {
      flex: 1;
    }
  }

  .authorContainer {
    padding-bottom: $spacing2xs;
  }
}

.relatedArticle,
.relatedAdArticle {
  .teaserLink {
    grid-template-columns: 1fr $teaserRelatedArticleImageWidth;
  }
}

.small {
  .teaserLink {
    grid-template-columns: 1fr $teaserSmallImageWidth;
    column-gap: $spacingSm;

    @media (min-width: $smallDesktopLowerLimit) {
      padding: 18px $spacingMd $spacingMd;

      .articleInfo {
        gap: $spacing2xs;
      }
    }
  }
}

.mostPopular {
  .teaserLink {
    grid-template-areas: "rankNumber info";
    column-gap: $spacingSm;
    grid-template-columns: 24px auto;
    padding: $spacingSm;

    @media (min-width: $smallDesktopLowerLimit) {
      padding: $spacingMd;
    }
  }

  .articleInfo {
    padding: 0;
    gap: $spacing2xs;

    .heading {
      flex: 1;
    }
  }

  .articleImage {
    display: none;
  }
}

.medium {
  .teaserLink {
    grid-template-areas:
      "banner"
      "author"
      "info"
      "image";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;

    @media (min-width: $smallDesktopLowerLimit) {
      grid-template-areas:
        "banner image"
        "author image"
        "info image";
      grid-template-columns: 1fr $mediumTeaserImageWidth;
    }
  }

  &.noImage {
    .teaserLink {
      grid-template-columns: 1fr;
    }
  }

  .articleImage {
    @media (min-width: $smallDesktopLowerLimit) {
      padding: 0;
      margin: auto 0;
    }
  }

  .articleInfo {
    display: flex;
    flex-direction: column;
    padding: 0 $standardPadding $standardPadding;
    align-items: flex-start;

    @media (min-width: $smallDesktopLowerLimit) {
      padding: 0 $standardPadding 0 0;
    }
  }

  .heading {
    flex: 1;
    padding-top: $standardPadding;
    padding-bottom: 0;

    @media (min-width: $smallDesktopLowerLimit) {
      padding-left: $standardPadding;
    }
  }

  .tag {
    @media (min-width: $smallDesktopLowerLimit) {
      margin-top: auto;
      padding: 0 0 15px $standardPadding;
    }
  }
}

.nativeAd {
  .articleInfo {
    padding-bottom: 0;
  }

  .heading {
    padding-bottom: $standardPadding;

    @media (min-width: $smallDesktopLowerLimit) {
      padding-bottom: $standardPadding;
    }
  }
}
