@import "/src/styles/common.scss";

.isLoading {
  position: relative;

  > *:not(.progress) {
    opacity: 0;
  }

  .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button {
  @extend %button;
}

.secondaryButton {
  @extend %buttonBasic;
  background-color: $white;
  color: $darkGray2;
  box-shadow: inset 0 0 0 2px $darkGray2;

  &:hover,
  &:active,
	&.active {
    background-color: $lightGray2;
  }

  &:disabled {
    background-color: $white;
    color: $gray2;
    box-shadow: inset 0 0 0 2px $gray2;

    &.withIcon {
      path {
        fill: $gray2;
      }
    }
  }
}

.deleteButton {
  @extend %buttonBasic;
  background-color: $statusRed;
  color: $white;

  &.withIcon {
    path {
      fill: $white;
    }
  }

  &:hover,
  &:active,
	&.active {
    background-color: #aa2424; /* TODO: add correct color when design in figma is done */
  }
}

.rejectButton {
  @extend %buttonBasic;
  background-color: $white;
  color: $statusRed;
  box-shadow: inset 0 0 0 2px $statusRed;

  &:hover,
  &:active,
	&.active {
    background-color: $lightGray2; /* TODO: add correct color when design in figma is done */
  }
}

.salesButton {
  @extend %buttonBasic;
  background-color: $salesLight;
  color: $darkGray2;

  &:hover,
  &:active,
	&.active {
    background-color: $salesMedium;
  }

  &:disabled {
    background-color: $gray2;
    color: white;

    &.withIcon {
      path {
        fill: white;
      }
    }
  }
}

.nakedButton {
  @extend %buttonBasic;
  color: $darkGray2;
  min-height: 25px;

  &.noLabel.small {
    padding: 0;
  }

  &:disabled {
    background: $lightGray;
    color: $gray2;

    &.withIcon {
      path {
        fill: $gray2;
      }
    }
  }
}

.tertiaryButton {
  @extend %buttonBasic;
  color: $darkGray2;
  background-color: $lightGray2;

  &:hover,
  &:active,
	&.active {
    &:not(:disabled) {
      background-color: $lightGray3;
    }
  }

  &:disabled {
    color: $gray2;
    &.withIcon {
      path {
        fill: $gray2;
      }
    }
  }
}

.blendButton {
	@extend %buttonBasic;
	white-space: nowrap;
  position: relative;
  color: $black;
  mix-blend-mode: screen;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $white;
		content: '';
		mix-blend-mode: color-burn;
	}

	&:hover,
	&:active,
	&.active {
		&::before {
			background-color: $lightGray;
		}
	}
}

.small {
  @extend %buttonSmall;
}

.medium {
  @extend %buttonMedium;
}

.large {
  @extend %buttonLarge;
}

.withIcon {
  &.small {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.medium {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.noLabel {
  min-width: auto;

  &.small {
    padding: 0 7px;
  }

  > svg {
    margin-right: 0;
  }
}

.noOutline {
  &:focus {
    outline: none;
  }
}

