@import "/src/styles/common.scss";

.button {
  border-radius: 3px;
  color: $grey900;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing4xs;
  cursor: pointer;

  &:disabled {
    color: $grey600;
    background-color: $grey300;

    &.withIcon {
      path {
        fill: $grey600;
      }
    }

    &.outline,
    &.outlineBold {
      background-color: transparent;
      border: 2px solid $grey600;
    }
  }
}

.withIcon {
  svg {
    width: 18px;
    height: 18px;
  }

  &.iconLeft:not(.noLabel) {
    svg {
      margin-left: -2px;
    }
  }

  &.iconRight:not(.noLabel) {
    svg {
      margin-right: -2px;
    }
  }
}

.extraSmall {
  @include buttonSemiboldXs;
  padding: 0 $spacing2xs;
  height: 27px;

  &.outline,
  &.outlineBold {
    padding: 0 $spacing3xs;
  }

  &.withIcon.noLabel {
    padding: 0;
    width: 27px;
  }
}

.small {
  @include buttonSemiboldXs;
  padding: 0 10px;
  gap: $spacing3xs;
  height: 31px;

  &.outline,
  &.outlineBold {
    padding: 0 $spacing2xs;
  }

  &.withIcon.noLabel {
    padding: 0;
    width: 31px;
  }

  &.primary,
  &.sales,
  &.secondaryBold,
  &.outlineBold {
    @include buttonBoldXs;
  }
}

.medium {
  @include buttonSemiboldSm;
  padding: 0 $spacingXs;
  gap: $spacing3xs;
  height: 36px;

  &.outline,
  &.outlineBold {
    padding: 0 10px;
  }

  &.withIcon {
    svg {
      width: 24px;
      height: 24px;
    }

    &.noLabel {
      padding: 0;
      width: 36px;
    }

    &.iconLeft:not(.noLabel) {
      svg {
        margin-left: -4px;
      }
    }

    &.iconRight:not(.noLabel) {
      svg {
        margin-right: -4px;
      }
    }
  }

  &.primary,
  &.sales,
  &.secondaryBold,
  &.outlineBold {
    @include buttonBoldSm;
  }
}

:not(:disabled) {
  &.transparent {
    &:hover {
      background-color: $grey200;
    }

    &:active {
      background-color: $grey300;
    }

    &:focus {
      box-shadow: 0 0 0 3px $grey300;
    }
  }

  &.secondary,
  &.secondaryBold {
    background-color: $grey200;

    &:hover {
      background-color: $grey300;
    }

    &:active {
      background-color: $grey400;
    }

    &:focus {
      box-shadow: 0 0 0 3px $grey300;
    }
  }

  &.outline,
  &.outlineBold {
    border: 2px solid $grey900;

    &:hover {
      background-color: rgba(27, 27, 27, 0.15);
    }

    &:active {
      background-color: rgba(27, 27, 27, 0.25);
    }

    &:focus {
      background-color: rgba(27, 27, 27, 0.15);
      box-shadow: 0 0 0 3px $grey300;
    }
  }

  &.primary {
    background-color: $grey900;
    color: $white;

    &.withIcon {
      path {
        fill: $white;
      }
    }

    &:hover {
      background-color: $grey800;
    }

    &:active {
      background-color: $grey700;
    }

    &:focus {
      box-shadow: 0 0 0 4px $grey300;
    }
  }

  &.sales {
    background-color: $salesYellow100;

    &:hover {
      background-color: $salesYellow200;
    }

    &:active {
      background-color: $salesYellow300;
    }

    &:focus {
      box-shadow: 0 0 0 4px $grey300;
    }
  }
}

.naked {
  padding: 0;
}

.isLoading {
  position: relative;

  > *:not(.progress) {
    opacity: 0;
  }

  .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.extraSmall {
    .progress {
      scale: 0.8;
    }
  }
}

/*
 * TODO: Old Design system (before 2025) styles, remove these after all components using them are updated
 */
%buttonBasic {
  @extend %sansSerifBold;
  font-size: $fontSizeS;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  min-height: 34px;
  min-width: 80px; // Spec from design
  justify-content: center;
  flex: 0 0 auto;
  border-radius: 3px;

  &:focus {
    outline: 2px solid $gray2;
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
  }

  svg {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }
}

.delete {
  @extend %buttonBasic;
  background-color: $statusRed;
  color: $white;

  &.withIcon {
    path {
      fill: $white;
    }
  }

  &:hover,
  &:active,
  &.active {
    background-color: #aa2424;
  }
}

.reject {
  @extend %buttonBasic;
  background-color: $white;
  color: $statusRed;
  box-shadow: inset 0 0 0 2px $statusRed;

  &:hover,
  &:active,
  &.active {
    background-color: $lightGray2;
  }
}

.tertiary {
  @extend %buttonBasic;
  color: $darkGray2;
  background-color: $lightGray2;

  &:hover,
  &:active,
  &.active {
    &:not(:disabled) {
      background-color: $lightGray3;
    }
  }

  &:disabled {
    color: $gray2;
    &.withIcon {
      path {
        fill: $gray2;
      }
    }
  }
}

.blend {
  @extend %buttonBasic;
  white-space: nowrap;
  position: relative;
  color: $black;
  mix-blend-mode: screen;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white;
    content: "";
    mix-blend-mode: color-burn;
  }

  &:hover,
  &:active,
  &.active {
    &::before {
      background-color: $lightGray;
    }
  }
}

.large {
  min-height: 85px;
  padding: 0 12px;
  font-size: $fontSizeM;
}

.noOutline {
  &:focus {
    outline: none;
  }
}
