@import "/src/styles/common";

.container {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 600px;
  z-index: 1000;
  background-color: $white;
  border-radius: 3px;
  @extend %boxShadowSm;
  display: flex;
  align-items: center;
  gap: $spacingMd;
  padding: $spacingSm $spacingMd;
  width: 100%;
  opacity: 1;
  transition: opacity 3s ease-out; /* Transition for fade-out */

  &.kv {
    background-color: $grey900;
    color: $white;

    .text,
    .title {
      color: $white;

      a {
        color: $white;
      }
    }

    .icon svg path,
    button svg path {
      fill: $white;
    }
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing2xs;
  width: 100%;
}

.title {
  @include subheadingBoldSm;
}

.text {
  @include captionSemiboldMd;

  a {
    @include captionSemiboldMd;
    @extend %textUnderline;
    color: $fontColor;
  }
}

.buttons {
  display: flex;
  gap: $spacingSm;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.fadeOut {
  opacity: 0;
}
