@import "/src/styles/common";

.viestimediaLogo {
  display: block;
  height: 30px;
  width: 185px;
  margin: 0 auto;

  @media (min-width: $smallDesktopLowerLimit) {
    margin: 0;
  }
}

.customerServiceLink {
  text-decoration: none;
  color: $white;
  line-height: 22px;
  border-bottom: 4px solid $white;
}
