@import "/src/styles/common";

.inline {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: $standardPadding;
  justify-content: center;

  .option {
    padding-bottom: 5px;
  }
}

.name {
  @extend %sansSerifSemiBold;
  font-size: $fontSizeS;
  display: inline-block;
  padding-bottom: 8px;
}

.required {
  color: $statusRed;
  display: inline-block;
  margin-left: 4px;
}

@media (min-width: $tabletLowerLimit) {
	.compactOptions {
		.options {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			column-gap: $standardPadding;
			row-gap: 10px;
		}

		.option {
			padding-bottom: 0;
		}
	}
}

.option {
  @extend %sansSerifRegular;
  font-size: $fontSizeM;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.4em;
}

.field {
  display: flex;
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .customRadioControl {
    box-shadow: inset 0 0 0 3px $white;
    background: $gray2;
  }

  &:focus + .customRadioControl {
    box-shadow: inset 0 0 0 3px $white;
    background: $darkGray;
    border-color: $darkGray;
  }
}

.customRadioControl {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid $gray2;
  transform: translateY(0.1em);
}

.label {
  line-height: 1;
  position: relative;

  svg {
    height: 24px;
    padding-left: 25px;
    position: absolute;
    top: -3px;
    right: 0;

    @media (min-width: $tabletLowerLimit) {
      right: unset;
    }
  }
}
