@import "/src/styles/common";

.bannerWrapper {
  @extend %mainLayoutWrapper;
  padding: 25px $standardPadding;
  background-size: cover;
  background-repeat: no-repeat;
	background-position: center;
}

.innerWrapper {
  @extend %mainLayoutContainerForHeaderAndFooter;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
	gap: 20px;

	@media (min-width: $smallDesktopLowerLimit) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.logoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $smallDesktopLowerLimit) {
    text-align: left;
  }
}

.logo {
	> * {
		margin: 0 auto;		
	}

	@media (min-width: $smallDesktopLowerLimit) {
		> * {
			margin: 0;		
		}
	}

	svg, img {
		max-height: 100%;
		max-width: 100%;
	}
}

.mainLogo {
	.large & {
		height: 40px;

		@media (min-width: $smallDesktopLowerLimit) {
			height: 60px;
		}
	}

	.compact & {
		height: 34px;
	}
}

.subLogo {
  height: 20px;
  position: relative;
  margin-top: 10px;
}
