@import "/src/styles/common";

.bannerWrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 25px 0;

  @media (min-width: $smallDesktopLowerLimit) {
    flex-direction: row;
    justify-content: space-between;
  }

  .small & {
    padding: $spacingMd 0;
  }
}

.logoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $smallDesktopLowerLimit) {
    text-align: left;
  }

  .small & {
    text-align: left;
  }
}

.logo {
  > * {
    margin: 0 auto;

    .small & {
      margin: 0;
    }
  }

  @media (min-width: $smallDesktopLowerLimit) {
    > * {
      margin: 0;
    }
  }

  svg,
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.mainLogo {
  .large & {
    height: 40px;

    @media (min-width: $smallDesktopLowerLimit) {
      height: 60px;
    }
  }

  .compact & {
    height: 34px;
  }

  .small & {
    height: 22px;
  }
}
.subLogo {
  height: 20px;
  position: relative;
  margin-top: 10px;
}
