@import "/src/styles/common";

.heading {
  @include subheadingBoldMd;
  background-color: $white;
  color: $fontColor;
  padding: $spacingXs $spacingSm;

  @media (min-width: $smallDesktopLowerLimit) {
    padding: $spacingSm $spacingMd;
  }
}

.default {
  border-top: 4px solid $brandColorLight;
}

.newsLarge {
  @include headingBlackSm;
}

.adLarge {
  @include headingAdBoldSm;
}

.adSmall {
  @include headingAdBoldXs;
}
