@import "/src/styles/common";

.heading {
  @include subheadingBoldMd;
  background-color: $white;
  color: $fontColor;
  padding: 0 $spacingSm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;

  @media (min-width: $smallDesktopLowerLimit) {
    padding: 0 $spacingMd;
    min-height: 52px;
  }
}

.default {
  border-top: 4px solid $brandColorLight;
}

.newsLarge {
  @include headingBlackSm;
  min-height: 50px;

  @media (min-width: $smallDesktopLowerLimit) {
    min-height: 58px;
  }
}

.adLarge {
  @include headingAdBoldSm;
  min-height: 33px;

  @media (min-width: $smallDesktopLowerLimit) {
    min-height: 37px;
  }
}

.adSmall {
  @include headingAdBoldXs;
}
