/* Media query breakpoints */
$largeMobileLowerLimit: 375px;
$tabletLowerLimit: 590px;
$smallDesktopLowerLimit: 828px;
$mediumDesktopLowerLimit: 1020px;
$largeDesktopLowerLimit: 1200px;
$stickyAdBreakPoint: 1175px;
