$mainContentMaxWidth: 1000px;
$rightColumnWidth: 300px;
$stickyAdWidth: 160px;
$tabletMainLaneMaxWidth: 468px;
$gutter: 20px;
$wallpaperAdMargin: 10px;
$compactTeaserImageWidth: 136px;
$compactTeaserImageWidthMobile: 80px;
$mediumTeaserImageWidth: 230px;
$newsListImageWidth: 54px;

$standardPadding: $gutter;
$standardPaddingSmall: 16px;
