$mainContentMaxWidth: 1000px;
$rightColumnWidth: 300px;
$stickyAdWidth: 160px;
$tabletMainLaneMaxWidth: 468px;
$gutter: 20px;
$wallpaperAdMargin: 10px;
$compactTeaserImageWidth: 136px;
$compactTeaserImageWidthMobile: 80px;
$mediumTeaserImageWidth: 230px;
$newsListImageWidth: 54px;

$standardPadding: $gutter;
$standardPaddingSmall: 16px;

$teaserHorizontalImageWidth: 132px;
$mobileTeaserHorizontalImageWidth: 86px;
$teaserRelatedArticleImageWidth: 86px;
$teaserMachineImageWidth: 86px;
$teaserSmallImageWidth: 60px;

// New Design System (2025): Spacing
$spacing6xs: 1px;
$spacing5xs: 2px;
$spacing4xs: 4px;
$spacing3xs: 6px;
$spacing2xs: 8px;
$spacingXs: 12px;
$spacingSm: 16px;
$spacingMd: 20px;
$spacingLg: 24px;
$spacingXl: 28px;
$spacing2xl: 32px;
$spacing3xl: 36px;
$spacing4xl: 40px;
$spacing5xl: 60px;
$spacing6xl: 80px;
