$fontSizeS: 16px;
$fontSizeM: 17px;
$fontSizeL: 19px;

$borderRadius: 4px;
$lineHeight: 1.4em;

// Only change all of these together
$publicationImageHeight: 297px;
$publicationImageHeightMobile: 219px;
$publicationMaxContentWidth: 1000px;
$publicationMaxContentWidthTablet: 426px;
$publicationMaxContentWidthMobile: 320px;
