@import "/src/styles/common";

/**************************
 * Old Design System styles
 * TODO: Update all Heading references in vm-web and ilmoitusautomaatti to use New Design System (2025) styles and remove the old styles
 **************************/
.heading {
  @extend %serifBold;
  line-height: 1.2em;
  word-break: break-word;
}

.italic {
  font-style: italic;
}

.extraLarge {
  font-size: 38px;
  line-height: 44px;

  @media (min-width: $mediumDesktopLowerLimit) {
    font-size: 42px;
    line-height: 50px;
  }
}

.large {
  font-size: 32px;
  line-height: 38px;

  @media (min-width: $mediumDesktopLowerLimit) {
    font-size: 38px;
    line-height: 44px;
  }
}

.default {
  font-size: 28px;
  line-height: 34px;

  @media (min-width: $mediumDesktopLowerLimit) {
    font-size: 34px;
    line-height: 40px;
  }
}

.small {
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $mediumDesktopLowerLimit) {
    font-size: 27px;
    line-height: 33px;
  }
}

.tiny {
  font-size: 21px;
  line-height: 24px;

  @media (min-width: $mediumDesktopLowerLimit) {
    font-size: 22px;
    line-height: 26px;
  }
}

.secondary {
  font-size: 19px;
  line-height: 22px;
  @extend %sansSerifBold;
}

.subheading {
  font-size: 18px;
  line-height: 22px;
  @extend %sansSerifBold;
}

/**************************
 * New Design System (2025) styles
 **************************/
.divider {
  vertical-align: 1px;
}

.teaserXl,
.teaserL,
.teaserM {
  .category,
  .divider {
    color: var(--brandCategoryColor);
  }

  &.hevoset {
    .category,
    .divider {
      color: $brown100;
    }
  }

  &.koneviesti {
    .category,
    .divider {
      color: $crimson600;
    }
  }
}

.teaserXl {
  @include headingBoldMd;

  .category {
    @include headingBlackMd;
  }

  .divider {
    @include headingMd;
  }

  @media (min-width: $mediumDesktopLowerLimit) {
    @include headingBoldLg;

    .category {
      @include headingBlackLg;
    }

    .divider {
      @include headingLg;
    }
  }
}

.teaserL {
  @include headingBoldSm;

  .category {
    @include headingBlackSm;
  }

  .divider {
    @include headingSm;
  }

  @media (min-width: $mediumDesktopLowerLimit) {
    @include headingBoldMd;

    .category {
      @include headingBlackMd;
    }

    .divider {
      @include headingMd;
    }
  }
}

.teaserM {
  @include headingBold2xs;

  .category {
    @include headingBlack2xs;
  }

  .divider {
    @include heading2xs;
  }

  @media (min-width: $mediumDesktopLowerLimit) {
    @include headingBoldXs;

    .category {
      @include headingBlackXs;
    }

    .divider {
      @include headingXs;
    }
  }
}

.teaserXs {
  @include subheadingSemiboldSm;

  .category {
    @include subheadingBoldSm;
  }

  .divider {
    @include subheadingSemiboldSm;
  }
}

.nativeAdTeaserL {
  @include headingAdSm;

  @media (min-width: $mediumDesktopLowerLimit) {
    @include headingAdMd;
  }
}

.articleHeading {
  @include headingBoldMd;

  @media (min-width: $mediumDesktopLowerLimit) {
    @include headingBoldLg;
  }
}

.articleSubheading {
  @include subheadingBoldSm;

  @media (min-width: $mediumDesktopLowerLimit) {
    @include subheadingBoldMd;
  }
}

.playerHeading {
  @include subheadingSemiboldXs;

  .category {
    @include subheadingBoldXs;
  }

  .divider {
    @include subheadingSemiboldXs;
  }
}

.nativeAd,
.suomenParhaat {
  &.teaserXl,
  &.teaserL,
  &.teaserM,
  &.teaserS {
    .category,
    .divider {
      color: $marketingBlue300;
    }
  }

  &.teaserXl,
  &.teaserL {
    @include headingAdBoldSm;

    .category {
      @include headingAdBoldSm;
    }

    .divider {
      @include headingAdSm;
    }

    @media (min-width: $mediumDesktopLowerLimit) {
      @include headingAdBoldMd;

      .category {
        @include headingAdBoldMd;
      }

      .divider {
        @include headingAdMd;
      }
    }
  }

  &.teaserM {
    @include headingAdBoldXs;

    .category {
      @include headingAdBoldXs;
    }

    .divider {
      @include headingAdXs;
    }

    @media (min-width: $mediumDesktopLowerLimit) {
      @include headingAdBoldSm;

      .category {
        @include headingAdBoldSm;
      }

      .divider {
        @include headingAdSm;
      }
    }
  }

  &.teaserS {
    @include headingAdBoldXs;

    .category {
      @include headingAdBoldXs;
    }

    .divider {
      @include headingAdXs;
    }
  }

  &.articleHeading {
    @include headingAdBoldMd;

    @media (min-width: $mediumDesktopLowerLimit) {
      @include headingAdBoldXl;
    }
  }
}

.yle {
  &.teaserL {
    .category,
    .divider {
      color: $brandYleTeal100;
    }
  }

  &.teaserL {
    @include headingYleBoldSm;

    .category {
      @include headingYleBoldSm;
    }

    .divider {
      @include headingYleSm;
    }

    @media (min-width: $mediumDesktopLowerLimit) {
      @include headingYleBoldMd;

      .category {
        @include headingYleBoldMd;
      }

      .divider {
        @include headingYleMd;
      }
    }
  }
}
