@import "/src/styles/common";

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacingXs;
  padding: $spacingSm;
  border-radius: 3px;
  border: 1px solid $grey300;

  @media (min-width: $smallDesktopLowerLimit) {
    gap: $spacingSm;
    padding: $spacingMd;
  }

  &.info {
    background-color: #eaf3fb;
    border-color: $marketingBlue200;
  }

  &.warning {
    background-color: rgba(255, 167, 38, 0.15);
    border-color: $statusLightOrange600;
  }

  &.error {
    background-color: rgba(211, 47, 47, 0.15);
    border-color: $statusRed600;
  }

  &.help {
    background-color: $grey100;
    border-color: $grey400;
  }
}

.text {
  @include body2xs;
}

.icon {
  width: 24px;
  height: 24px;
}

.button {
  margin-left: auto;
}
