@import "/src/styles/common";

.container {
  background: $darkGray;
  color: white;
  font-size: $fontSizeS;
  line-height: 22px;
  font-family: "Red Hat Text Variable", "Red Hat Text", Arial, sans-serif;
  text-align: center;

  @media (min-width: $smallDesktopLowerLimit) {
    text-align: left;
  }
}

.wrapper {
  @extend %mainLayoutWrapper;
  padding: 0 $standardPadding;
}

.topWrapper,
.bottomWrapper {
  padding: $standardPadding;
}

.columnWrapper {
  border-top: 1px solid $gray3;
  border-bottom: 1px solid $gray3;
  padding: $standardPadding;
}

.innerContent {
  @extend %mainLayoutContainerForHeaderAndFooter;

  // Note: we're using @media max-width here so that we can preserve
  // the shared magic done in desktop size with 'max-width' in
  // %mainLayoutContainerForHeaderAndFooter
  @media (max-width: calc(#{$smallDesktopLowerLimit} - 1px)) {
    max-width: $tabletMainLaneMaxWidth;
    text-align: center;    
  }
}
