@import "/src/styles/common";

.bottomRow {
  display: block;

  @media (min-width: $smallDesktopLowerLimit) {
    display: flex;
  }
}

.bottomLinks {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.bottomLink {
  @extend %sansSerifSemiBold;
  padding: 0 $standardPadding 10px 0;
  color: $white;
  white-space: nowrap;
}
