@import "/src/styles/common";

.bottomRow {
  display: grid;
  grid-gap: $standardPadding;
  grid-template-columns: 1fr;

  @media (min-width: $smallDesktopLowerLimit) {
    grid-template-columns: 1fr max-content;
  }
}

.bottomLinks {
  flex: 1;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  @media (min-width: $smallDesktopLowerLimit) {
    justify-content: flex-start;
  }

}

.bottomLink {
  @extend %sansSerifSemiBold;
  padding: 0 $standardPadding 0 0;
  color: $white;
  white-space: nowrap;

  @media (min-width: $smallDesktopLowerLimit) {
    padding-bottom: 10px;
  }

}
