@import "/src/styles/common";

.topRow {
  text-align: center;

  @media (min-width: $smallDesktopLowerLimit) {
    text-align: left;
    display: flex;
    align-items: center;
  }
}

.logo {
  flex: 1;
  margin-bottom: $standardPadding;

  svg {
    width: 100%;
    height: auto;
  }

  @media (min-width: $smallDesktopLowerLimit) {
    margin-bottom: 0;
  }
}
