name: Generate tag and release to NPM

on:
  workflow_dispatch:
    inputs:
      version:
        description: New version
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  version:
    name: Create new version ${{ github.event.inputs.version }}
    runs-on: ubuntu-latest

    outputs:
      new_tag: ${{ steps.collect.outputs.new_tag }}

    steps:
      - uses: actions/checkout@v4

      - name: Configure git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: Generate new version
        run: npm version ${{ github.event.inputs.version }}

      - name: Push new version tag
        run: git push origin main --tags

      - name: Collect version info
        id: collect
        run: |
          TAG_NAME=$(git describe --tags --abbrev=0)
          echo "NEW_TAG=$TAG_NAME" >> "$GITHUB_ENV"
          echo "new_tag=$TAG_NAME" >> "$GITHUB_OUTPUT"

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: version

    steps:
      - uses: actions/checkout@v4

      - name: Create release notes
        id: notes
        uses: johnyherangi/create-release-notes@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.version.outputs.new_tag }}
          release_name: Release ${{ needs.version.outputs.new_tag }}
          body: ${{ steps.notes.outputs.release-notes }}

  publish-npm:
    name: Publish to NPM
    runs-on: ubuntu-latest
    needs: release

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com

      - run: git pull
      - run: npm ci
      - run: npm run build

      - name: Publish package
        run: npm publish --access restricted
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
